<?xml version='1.0' encoding='utf-8'?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.meng.pictool">

    <!-- 拍摄照片和视频 -->
    <uses-permission android:name="android.permission.CAMERA" />

    <!-- FLASHLIGHT -->
    <uses-permission android:name="android.permission.FLASHLIGHT" />

    <!-- 查看网络连接 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <!-- 控制振动 -->
    <uses-permission android:name="android.permission.VIBRATE" />

    <!-- 读取您共享存储空间中的内容 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <!-- 修改或删除您共享存储空间中的内容 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <!-- 此应用可显示在其他应用上方 -->
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <!-- 拥有完全的网络访问权限 -->
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- 设置壁纸 -->
    <uses-permission android:name="android.permission.SET_WALLPAPER" />

    <!-- 调整您的壁纸大小 -->
    <uses-permission android:name="android.permission.SET_WALLPAPER_HINTS" />

    <!-- BIND_WALLPAPER -->
    <uses-permission android:name="android.permission.BIND_WALLPAPER" />

    <!-- READ_WALLPAPER_INTERNAL -->
    <uses-permission android:name="android.permission.READ_WALLPAPER_INTERNAL" />

    <!-- SET_WALLPAPER_COMPONENT -->
    <uses-permission android:name="android.permission.SET_WALLPAPER_COMPONENT" />

    <!-- MANAGE_USB -->
    <uses-permission android:name="android.permission.MANAGE_USB" />

    <!-- WRITE_MEDIA_STORAGE -->
    <uses-permission android:name="android.permission.WRITE_MEDIA_STORAGE" />

    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.PicTool2">

        <meta-data
            android:name="android.max_aspect"
            android:value="2.1" />

        <activity
            android:name=".MainActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:theme="@style/Theme.PicTool2"
            android:windowSoftInputMode="adjustUnspecified|stateHidden">
        </activity>

        <activity-alias
            android:name=".MainActivityAlias"
            android:targetActivity=".MainActivity"
            android:enabled="true"
            android:exported="true" >
                <intent-filter>
                    <action android:name="android.intent.action.MAIN" />
                    <category android:name="android.intent.category.LAUNCHER" />
                </intent-filter>
        </activity-alias>

        <activity
            android:name=".picture.pixiv.LoginPixivActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask" />

        <activity android:name=".picture.barcode.CropActivity" />

        <activity
            android:name=".picture.gif.SelectFileActivity"
            android:launchMode="singleTask"
            android:theme="@style/blue" />

        <activity
            android:name=".SettingsActivity"
            android:theme="@style/blue" />

        <activity
            android:name=".FragmentWrapperActivity"
            android:exported="true" 
            android:theme="@style/blue" />

        <activity-alias
            android:name=".picture.GrayImageActivity"
            android:targetActivity=".FragmentWrapperActivity"
            android:label="@string/plugin_gray_image"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.meng.intent.action.PLUGIN.PICTURE" />
                <category android:name="com.meng.intent.category.PLUGIN" />
            </intent-filter>
            <meta-data
                android:name="fragment_class"
                android:value=".picture.GrayImage" />
        </activity-alias>

        <activity-alias
            android:name=".picture.barcode.BarcodeGeneratorActivity"
            android:targetActivity=".FragmentWrapperActivity"
            android:label="@string/plugin_barcode_generator"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.meng.intent.action.PLUGIN.PICTURE" />
                <category android:name="com.meng.intent.category.PLUGIN" />
            </intent-filter>
            <meta-data
                android:name="fragment_class"
                android:value=".picture.barcode.BarcodeNormal" />
        </activity-alias>

        <activity-alias
            android:name=".picture.barcode.BarcodeReaderActivity"
            android:targetActivity=".FragmentWrapperActivity"
            android:label="@string/plugin_barcode_reader"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.meng.intent.action.PLUGIN.PICTURE" />
                <category android:name="com.meng.intent.category.PLUGIN" />
            </intent-filter>
            <meta-data
                android:name="fragment_class"
                android:value=".picture.barcode.BarcodeReaderCamera" />
        </activity-alias>

        <activity-alias
            android:name=".picture.gif.GIFCreatorActivity"
            android:targetActivity=".FragmentWrapperActivity"
            android:label="@string/plugin_gif_creator"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.meng.intent.action.PLUGIN.PICTURE" />
                <category android:name="com.meng.intent.category.PLUGIN" />
            </intent-filter>
            <meta-data
                android:name="fragment_class"
                android:value=".picture.gif.GIFCreator" />
        </activity-alias>

        <activity-alias
            android:name=".picture.pixiv.PixivDownloadMainActivity"
            android:targetActivity=".FragmentWrapperActivity"
            android:label="@string/plugin_pixiv_download"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.meng.intent.action.PLUGIN.PICTURE" />
                <category android:name="com.meng.intent.category.PLUGIN" />
            </intent-filter>
            <meta-data
                android:name="fragment_class"
                android:value=".picture.pixiv.PixivDownloadMain" />
        </activity-alias>

        <activity-alias
            android:name=".picture.PictureCryptActivity"
            android:targetActivity=".FragmentWrapperActivity"
            android:label="@string/plugin_picture_crypt"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.meng.intent.action.PLUGIN.PICTURE" />
                <category android:name="com.meng.intent.category.PLUGIN" />
            </intent-filter>
            <meta-data
                android:name="fragment_class"
                android:value=".picture.PictureCrypt" />
        </activity-alias>

        <activity-alias
            android:name=".picture.saucenao.SauceNaoMainActivity"
            android:targetActivity=".FragmentWrapperActivity"
            android:label="@string/plugin_saucenao"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.meng.intent.action.PLUGIN.PICTURE" />
                <category android:name="com.meng.intent.category.PLUGIN" />
            </intent-filter>
            <meta-data
                android:name="fragment_class"
                android:value=".picture.saucenao.SauceNaoMain" />
        </activity-alias>

        <activity
            android:name=".PluginSettingsActivity"
            android:exported="true"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:theme="@style/Theme.PicTool2">
            <intent-filter>
                <action android:name="com.meng.intent.action.PLUGIN_SETTINGS" />
                <category android:name="com.meng.intent.category.PLUGIN_SETTINGS" />
            </intent-filter>
        </activity>

    </application>

</manifest>
