<?xml version='1.0' encoding='utf-8'?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.meng.toolset.mediatool">

    <!-- 拍摄照片和视频 -->
    <uses-permission android:name="android.permission.CAMERA" />

    <!-- FLASHLIGHT -->
    <uses-permission android:name="android.permission.FLASHLIGHT" />

    <!-- 查看网络连接 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <!-- 控制振动 -->
    <uses-permission android:name="android.permission.VIBRATE" />

    <!-- 读取您共享存储空间中的内容 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <!-- 修改或删除您共享存储空间中的内容 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <!-- 此应用可显示在其他应用上方 -->
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <!-- 拥有完全的网络访问权限 -->
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- 设置壁纸 -->
    <uses-permission android:name="android.permission.SET_WALLPAPER" />

    <!-- 调整您的壁纸大小 -->
    <uses-permission android:name="android.permission.SET_WALLPAPER_HINTS" />

    <!-- BIND_WALLPAPER -->
    <uses-permission android:name="android.permission.BIND_WALLPAPER" />

    <!-- READ_WALLPAPER_INTERNAL -->
    <uses-permission android:name="android.permission.READ_WALLPAPER_INTERNAL" />

    <!-- SET_WALLPAPER_COMPONENT -->
    <uses-permission android:name="android.permission.SET_WALLPAPER_COMPONENT" />

    <!-- MANAGE_USB -->
    <uses-permission android:name="android.permission.MANAGE_USB" />

    <!-- WRITE_MEDIA_STORAGE -->
    <uses-permission android:name="android.permission.WRITE_MEDIA_STORAGE" />

    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/green">

        <meta-data
            android:name="android.max_aspect"
            android:value="2.1" />

        <activity
            android:name="com.meng.app.MainActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:theme="@style/green"
            android:windowSoftInputMode="adjustUnspecified|stateHidden">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED" />
            </intent-filter>

            <meta-data
                android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED"
                android:resource="@xml/device_filter" />
        </activity>

        <activity
            android:name="com.meng.toolset.picture.pixiv.LoginPixivActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask" />

        <activity android:name="com.meng.toolset.picture.barcode.CropActivity" />

        <activity
            android:name="com.meng.toolset.picture.gif.SelectFileActivity"
            android:launchMode="singleTask"
            android:theme="@style/green" />

        <service
            android:name="com.meng.toolset.wallpaper.VideoWallpaper"
            android:permission="android.permission.BIND_WALLPAPER">

            <intent-filter>

                <action android:name="android.service.wallpaper.WallpaperService" />

            </intent-filter>

            <meta-data
                android:name="android.service.wallpaper"
                android:resource="@xml/videowallpaper" />

        </service>

    </application>

</manifest>
